
.container{
    margin-top: 25px;
    margin-left:70px;
    margin-right:70px;
}

#listItem{
    font-size: 20px;
    font-weight: 600;
    color: black;
    border-width: 0;

}

.btn{
    border-radius:25px;
}

#home{
    height: 30px;
    width: 499px;
    
}
h3{
    font-size: 20px;
    font-weight: 800;
}

#tweet{
    border-width:0px ;
    font-size:22px;
}

#break{
    margin-top: 10px;
    height:10px;
    background-color: lightgray;
    margin-bottom: 10px;
    
}

#tagLine{
    display: flex;
    width: 1;
}

.align-self-start{
    border-radius: 25px;
}

#postBody{
    text-align: left;
}

#icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-light{
    background-color: white!important;
    padding-left: 0px;
    margin-bottom: 40px;
}

#searchBar{
    background-color:rgb(240, 238, 238);
    border-radius: 25px;
    width: 300px;
    border-width: 0;
    
}
#trending{
    border-radius: 50px;
    border-color: black;
    border-width: 1px;
}

#trendingItem{
    background-color: rgb(240, 238, 238);
    color: black;
}

